<% this.title = '幫助' %>
<% include header %>
<div class="padding">
    <h1 class="ui center aligned header">幫助</h1>
    <div style="font-content">
        <h2 class="ui header">評測</h2>
        <p>
            C++ 使用<code>clang++</code> 或<code>g++</code> 編譯，命令形如&nbsp;<code>clang++/g++ source_file.cpp -o exec_file -O2 -lm -DONLINE_JUDGE -mx32 -std=c ++03</code>（對於C++ 11 和C++ 17，替換命令中的<code>-std=</code> 參數）；
            <br> C 使用 <code>clang</code> 編譯，命令為 &nbsp;<code>clang source_file.c -o exec_file -O2 -lm -DONLINE_JUDGE -mx32</code>；
            <br> Pascal 使用 <code>fpc</code> 編譯，命令為 &nbsp;<code>fpc source_file.pas -O2</code>。
            <br> Java 編譯時會自動檢測您的代碼中<code>public class</code>，如果您的代碼中沒有<code>public class</code>，請將入口類命名為<code>Main< /code>。
            <br> C# 使用 Mono 平台的編譯器與運行環境。
            <br>
        </p>
        <p>請根據題目中的說明選擇使用<strong>標準輸入輸出</strong>或<strong>文件輸入輸出</strong>。 </p>

        <h2 class="ui header">個人資料<br></h2>
        <p>本站不提供頭像存儲服務，而是使用 Gravatar 進行頭像顯示。請使用郵箱註冊<a href="https://zh-cn.wordpress.com/">WordPress.com</a>，登錄<a href="https://cn.gravatar.com/">Gravatar </a> 並上傳頭像。同樣使用 Gravatar 的 OJ 有 Vijos、COGS、UOJ 等。 </p>
        <p>個性簽名可以使用 Markdown 與 HTML，請不要在其中添加惡意代碼。 </p>
        <h2 class="ui header">添加題目</h2>
        <h3 class="ui header">題面</h3>
        <p>在<a href="/problem/0/edit">添加題目頁面</a>填寫題面，題目內容使用 Markdown 與 TeX 公式。 </p>
        <h3 class="ui header">測試數據</h3>
<p>舊版的 <code>data_rule.txt</code> 已經停止使用，新加入的題目請使用新的 <code>data.yml</code> 配置文件。關於 YAML，詳見 <a href="https://zh.wikipedia.org/wiki/YAML">YAML 的 Wikipedia 詞條</a>。 </p>
<p>對於傳統和提交答案題目，<code>data.yml</code> 是可選的，系統會自動識別您的數據包，將每個<code>.in</code> 文件對應到< code>.out</code> 或<code>.ans</code> 文件，並將<code>spj_</code> 開頭的文件作為Special Judge（詳見下文的「Special Judge」）。 </p>
<h4>傳統</h4>
<p>對於傳統題目，<code>data.yml</code> 的格式如下：</p>
<div class="ui existing segment"><pre style="margin-top: 0; margin-bottom: 0; "><code class="lang-yaml"><span class="pl-l-Scalar- Plain">subtasks</span><span class="pl-p-Indicator">:</span>
  <span class="pl-p-Indicator">-</span> <span class="pl-l-Scalar-Plain">score</span><span class="pl-p-Indicator">:< /span> <span class="pl-l-Scalar-Plain">30</span> <span class="pl-c1"># 這個子任務的分數（注意，所有子任務的總分必須為100 ）</span>
    <span class="pl-l-Scalar-Plain">type</span><span class="pl-p-Indicator">:</span> <span class="pl-l-Scalar-Plain"> sum</span> <span class="pl-c1"># 子任務類型，可選的值有sum、min 和mul.</span>
    <span class="pl-l-Scalar-Plain">cases</span><span class="pl-p-Indicator">:</span> <span class="pl-p-Indicator">[< /span><span class="pl-nv">1</span><span class="pl-p-Indicator">,</span> <span class="pl-nv">2</span> <span class="pl-p-Indicator">,</span> <span class="pl-nv">3</span><span class="pl-p-Indicator">]</span> < span class="pl-c1"># 測試點編號可為數字</span>
  <span class="pl-p-Indicator">-</span> <span class="pl-l-Scalar-Plain">score</span><span class="pl-p-Indicator">:< /span> <span class="pl-l-Scalar-Plain">30</span> <span class="pl-c1"># 另一個子任務</span>
    <span class="pl-l-Scalar-Plain">type</span><span class="pl-p-Indicator">:</span> <span class="pl-l-Scalar-Plain"> mul</span>
    <span class="pl-l-Scalar-Plain">cases</span><span class="pl-p-Indicator">:</span> <span class="pl-p-Indicator">[< /span><span class="pl-s">'4'</span><span class="pl-p-Indicator">,</span> <span class="pl-s">'5' </span><span class="pl-p-Indicator">,</span> <span class="pl-s">'6'</span><span class="pl-p-Indicator"> ]</span> <span class="pl-c1"># 測試點編號也可為字符串</span>

<span class="pl-l-Scalar-Plain">inputFile</span><span class="pl-p-Indicator">:</span> <span class="pl-s">'dat#. in'</span> <span class="pl-c1"># 測試數據包中的輸入文件</span>
<span class="pl-l-Scalar-Plain">outputFile</span><span class="pl-p-Indicator">:</span> <span class="pl-s">'dat#. ans'</span> <span class="pl-c1"># 測試數據包中的輸出文件</span>
<span class="pl-c1"># 上述文件名中的 # 字符將被替換為測試點編號</span>

<span class="pl-c1"># 可選 - Special Judge</span>
<span class="pl-l-Scalar-Plain">specialJudge</span><span class="pl-p-Indicator">:</span>
  <span class="pl-l-Scalar-Plain">language</span><span class="pl-p-Indicator">:</span> <span class="pl-l-Scalar-Plain"> cpp</span>
  <span class="pl-l-Scalar-Plain">fileName</span><span class="pl-p-Indicator">:</span> <span class="pl-l-Scalar-Plain"> spj.cpp</span>

<span class="pl-c1"># 可選 - 附加源文件</span>
<span class="pl-c1"># 例如，給選手提供一個 C++ 頭文件，選手可以引用它，調用您提供的代碼。 </span>
<span class="pl-c1"># 常用於封裝交互庫</span>
<span class="pl-l-Scalar-Plain">extraSourceFiles</span><span class="pl-p-Indicator">:</span>
  <span class="pl-p-Indicator">-</span> <span class="pl-l-Scalar-Plain">language</span><span class="pl-p-Indicator">:</span> <span class="pl-l-Scalar-Plain">cpp</span>
    <span class="pl-l-Scalar-Plain">files</span><span class="pl-p-Indicator">:</span> <span class="pl-c1"># 这是一个数组</span>
     <span class="pl-p-Indicator">-</span> <span class="pl-l-Scalar-Plain">name</span><span class="pl-p-Indicator">:</span> <span class="pl-l-Scalar-Plain">itlib_cpp.h</span>     <span class="pl-c1"># 数据包中的文件名</span>
       <span class="pl-l-Scalar-Plain">dest</span><span class="pl-p-Indicator">:</span> <span class="pl-l-Scalar-Plain">interaction.h</span>   <span class="pl-c1"># 目标文件名，在编译时被放置在与选手程序的同一目录下</span>
  <span class="pl-p-Indicator">-</span> <span class="pl-l-Scalar-Plain">language</span><span class="pl-p-Indicator">:</span> <span class="pl-l-Scalar-Plain">c</span> <span class="pl-c1"># 给不同的语言提供不同的附加源文件</span>
    <span class="pl-l-Scalar-Plain">files</span><span class="pl-p-Indicator">:</span>
      <span class="pl-p-Indicator">-</span> <span class="pl-l-Scalar-Plain">name</span><span class="pl-p-Indicator">:</span> <span class="pl-l-Scalar-Plain">itlib_c.h</span>
        <span class="pl-l-Scalar-Plain">dest</span><span class="pl-p-Indicator">:</span> <span class="pl-l-Scalar-Plain">interaction.h</span>
</code></pre></div>
on results
<h4>提交答案</h4>
<p>對於提交答案題目，<code>inputFile</code> 和 <code>outputFile</code> 可以省略，用 <code>userOutput</code> 表示用戶提交的答案文件名。 </p>
<div class="ui existing segment"><pre style="margin-top: 0; margin-bottom: 0; "><code class="lang-yaml"><span class="pl-l-Scalar- Plain">userOutput</span><span class="pl-p-Indicator">:</span> <span class="pl-s">'dat#.out'</span>
</code></pre></div>
<h4>交互</h4>
<p>對於交互題目，需要加入以下內容：</p>
<div class="ui existing segment"><pre style="margin-top: 0; margin-bottom: 0; "><code class="lang-yaml"><span class="pl-c1">#交互器</span>
<span class="pl-l-Scalar-Plain">interactor</span><span class="pl-p-Indicator">:</span>
  <span class="pl-l-Scalar-Plain">language</span><span class="pl-p-Indicator">:</span> <span class="pl-l-Scalar-Plain"> cpp</span>
  <span class="pl-l-Scalar-Plain">fileName</span><span class="pl-p-Indicator">:</span> <span class="pl-l-Scalar-Plain"> interactor.cpp</span>
</code></pre></div>
<p>交互器和選手程序同時運行，交互器的標準輸入和標準輸出連接了選手程序的標準輸出和標準輸入 —— 交互通過輸入輸出進行。 </p>
<p>交互器運行時，其目錄下會有 <code>input</code> 文件，表示該測試點的輸入文件。交互器運行結束後，需要將選手得分寫入 <code>score.txt</code> 文件中，並將提供給用戶的額外信息輸出到標準錯誤輸出（<code>stderr</code>）中。 </p>
<p>如果您希望實現 NOI 試題風格的交互（選手通過函數調用與交互器交互），請編寫一些頭文件作為「附加源文件」並封裝標準輸入輸出的交互。 </p>
<h4>子任務</h4>
<p>子任務是一組測試點的集合，一個子任務的分數由其包含的測試點的分數計算而來，具體的計算方式根據子任務類型而定：</p>
<ul>
<li><code>sum</code>：測試點分數按百分比相加；</li>
<li><code>mul</code>：測試點分數按百分比相乘；</li>
<li><code>min</code>：取各測試點最低分。 </li>
</ul>
<h4>Special Judge</h4>
<p>Special Judge 用於<strong>傳統</strong>或<strong>提交答案</strong>題目。 </p>
<p>如果您沒有編寫<code>data.yml</code>，請在數據包中添加<code>spj_LANG.xxx</code>，其中<code>xxx</code> 為任意後綴名，< code>LANG</code> 為所用語言的簡稱。 </p>
<p>Special Judge 程序運行時，其目錄下會有四個文件<code>input</code>、<code>user_out</code>、<code>answer</code>、<code>code</ code>，分別對應該測試點的輸入文件、用戶輸出、該測試點的輸出文件、用戶的代碼（對於非提交答案題目）。 </p>
<p>Special Judge 程序運行完成後，應將該測試點的得分輸出到標準輸出（<code>stdout</code>）中（範圍為<code>0</code> 到<code>100</ code>，將自動折合為測試點分數），並將提供給用戶的額外信息輸出到標準錯誤輸出（<code>stderr</code>）中。 </p>
<h4>語言簡稱</h4>
<p>配置數據時，描述Special Judge 或交互器的語言時使用語言的簡稱，它們是<code>c</code>、<code>cpp</code>、<code>cpp11</code>、 <code>cpp17</code>、<code>cpp11-clang</code>、<code>cpp17-clang</code>、<code>csharp</code>、<code>haskell</code>、< code>java</code>、<code>nodejs</code>、<code>pascal</code>、<code>python2</code>、<code>python3</code>、<code>ruby</ code>。 </p>
    </div>
</div>
<% include footer %>
